@model AIRWIZZ.Models.BookFlightModel

@{

    ViewData["Title"] = "Fligh Booking"; 

}

<form asp-action="BookFlight" method="post">
    <h2>Passenger Details</h2>
    <label for="PassengerName">Name:</label>
    <input asp-for="passenger_first_name" type="text" />
    <input asp-for="passenger_last_name" type="text" />
    <input asp-for="passenger_Date_Of_Birth" type="date" />
    <input asp-for="passenger_Nationality" type="text" />


    <label for="PassportNumber">Passport Number:</label>
    <input asp-for="passenger_passport_number" type="text" />

    <h2>Flight Details</h2>
    <label for="FlightId">Select Flight:</label>
    <select asp-for="flight_id" asp-items="Model.FlightList"></select>

    <label for="SeatId">Select Seat:</label>
    <select asp-for="seat_id" asp-items="Model.SeatList"></select>

    <label for="DepartureId">Departure Location:</label>
    <select asp-for="DepartureList" asp-items="Model.DepartureList"></select>

    <label for="ArrivalId">Arrival Location:</label>
    <select asp-for="ArrivalList" asp-items="Model.ArrivalList"></select>


    <h2>Payment Information</h2>
    <label for="PaymentAmount">Amount:</label>
    <input asp-for="Amount" type="number" step="0.01" />

    <label for="CurrencyType">Currency:</label>
    <select asp-for="CurrencyType">
		<option value="USD">United States Dollar (USD)</option>
		<option value="EUR">Euro (EUR)</option>
		<option value="INR">Indian Rupee (INR)</option>
		<option value="JPY">Japanese Yen (JPY)</option>
		<option value="CNY">Chinese Yuan (CNY)</option>
		<option value="AUD">Australian Dollar (AUD)</option>
		<option value="CAD">Canadian Dollar (CAD)</option>
		<option value="CHF">Swiss Franc (CHF)</option>
		<option value="SEK">Swedish Krona (SEK)</option>
		<option value="NZD">New Zealand Dollar (NZD)</option>
		<option value="ZAR">South African Rand (ZAR)</option>
		<option value="SGD">Singapore Dollar (SGD)</option>
		<option value="MXN">Mexican Peso (MXN)</option>
		<option value="BRL">Brazilian Real (BRL)</option>
		<option value="RUB">Russian Ruble (RUB)</option>
		<option value="HKD">Hong Kong Dollar (HKD)</option>
		<option value="KRW">South Korean Won (KRW)</option>
		<option value="TRY">Turkish Lira (TRY)</option>
		<option value="AED">United Arab Emirates Dirham (AED)</option>
		<option value="SAR">Saudi Riyal (SAR)</option>
		<option value="MYR">Malaysian Ringgit (MYR)</option>
		<option value="PHP">Philippine Peso (PHP)</option>
		<option value="NOK">Norwegian Krone (NOK)</option>
		<option value="THB">Thai Baht (THB)</option>
		<option value="DKK">Danish Krone (DKK)</option>
		<option value="PKR">Pakistani Rupees (PKR)</option>
		<option value="GBP">British Pound Sterling (GBP)</option>
		<option value="LKR">Sri Lankan Rupee (LKR)</option>
		<option value="BDT">Bangladeshi Taka (BDT)</option>
		<option value="IRR">Iranian Rial (IRR)</option>
		<option value="IQD">Iraqi Dinar (IQD)</option>
		<option value="KWD">Kuwaiti Dinar (KWD)</option>
		<option value="QAR">Qatari Riyal (QAR)</option>
		<option value="OMR">Omani Rial (OMR)</option>
		<option value="EGP">Egyptian Pound (EGP)</option>

    </select>

    <label for="PaymentMethodType">Payment Method:</label>
    <select asp-for="PaymentMethodType">
        <option value="CreditCard">Credit Card</option>
        <option value="DebitCard">Debit Card</option>
        <option value="PayPal">PayPal</option>
		<option value="BankTransfer">Bank Transfer</option>
		<option value="UPI">UPI</option>
		<option value="MobileWllet">Mobile Wallet</option>
		<option value="CryptoCurrency">Crypto Currency</option>
		
		
    </select>

    <button type="submit">Book Flight</button>
</form>

