@{
    ViewData["Title"] = "Chatbot Support";
}

<div class="chatbot-container">
    <div class="chatbot-header">
        <h1>Welcome to 24/7 Support</h1>
        <p>Our friendly chatbot is here to assist you anytime!</p>
    </div>
    <div class="chatbot-frame">
        <iframe allow="microphone;"
                width=100
                height=100
                src="https://console.dialogflow.com/api-client/demo/embedded/cce4341a-233f-4a1a-aca2-31aaba44db42">
        </iframe>
    </div>
</div>
